/**
 *  Source: https://www.javatmp.com/blogs/tutorial/bootstrap-4-multilevel-dropdown-menu-on-mouse-hover
 */
.dropdown-submenu {
    position: relative;   
}

.dropdown-submenu > .dropdown-item::after {
    content: ">";
    float: right;
    margin-left: 20px;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;   
}

/**
 * Each item from menu (expect "+" buttons)
 * which can be visible to user has this class. 
 */
.menu-item {
    width: 160px;
}

/**
 * Remove padding from "+" buttons
 */
button.add-menu-item {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

/**
 * Remove padding from dropdown menus
 */
div.dropdown-menu {
    padding: 0 !important;
}