{% extends 'base.html.twig' %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ asset('css/index.css') }}">
<script src="{{ asset('js/index.js') }}"></script>
{% endblock head %}

{% block body %}
<button id="save_to_db" type="button" class="btn btn-success fixed-top">Zachowaj zmiany</button>
<div class="btn-group-vertical ml-3 mt-5" role="group">
    <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
</div>

<div>
</div>

<div id="menus-tree" class="btn-group-vertical ml-3 mt-5" role="group">
    <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
    <div class="dropdown-submenu">
        <button type="button" class="btn bg-secondary text-light dropdown-item menu-item">Menu</button>
        <div class="dropdown-menu">
            <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
        </div>
    </div>
    <div class="dropdown-submenu">
        <button type="button" class="btn bg-secondary text-light dropdown-item menu-item">Menu 2</button>
        <div class="dropdown-menu">
            <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
        </div>
    </div>
    <div class="dropdown-submenu">
        <button type="button" class="btn bg-secondary text-light dropdown-item menu-item">Menu 3</button>
        <div class="dropdown-menu">
            <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
            <div class="dropdown-submenu">
                <button type="button" class="btn bg-secondary text-light dropdown-item menu-item">Menu 4</button>
                <div class="dropdown-menu">
                    <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
                    <div class="dropdown-submenu">
                        <button type="button" class="btn bg-secondary text-light dropdown-item menu-item">Menu 6</button>
                        <div class="dropdown-menu">
                            <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
                        </div>
                    </div>
                    <div class="dropdown-submenu">
                       <button type="button" class="btn bg-secondary text-light dropdown-item menu-item">Menu 7</button>
                       <div class="dropdown-menu">
                           <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
                       </div>
                    </div>
                    <div class="dropdown-submenu">
                        <button type="button" class="btn bg-secondary text-light dropdown-item menu-item">Menu 8</button>
                        <div class="dropdown-menu">
                            <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
                            <div class="dropdown-submenu">
                                <button type="button" class="btn bg-secondary text-light dropdown-item menu-item">Menu 9</button>
                                <div class="dropdown-menu">
                                    <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
                                </div>
                            </div>
                            <div class="dropdown-submenu">
                                <button type="button" class="btn bg-secondary text-light dropdown-item menu-item">Menu 10</button>
                                <div class="dropdown-menu">
                                    <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
                                </div>
                            </div>
                            <div class="dropdown-submenu">
                                <button type="button" class="btn bg-secondary text-light dropdown-item menu-item">Menu 11</button>
                                <div class="dropdown-menu">
                                    <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
                                </div>
                            </div>
                            <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
                        </div>
                    </div>
                    <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
                </div> 
            </div>
            <div class="dropdown-submenu">
                <button type="button" class="btn bg-secondary text-light dropdown-item menu-item">Menu 5</button>
                <div class="dropdown-menu">
                    <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
                </div>
            </div>
            <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
        </div>
    </div>
    <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
</div>

<!-- Modal for creating item in menu -->
<div>
    <div id="add-menu-item-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Utwórz element menu</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="mb-3">Nazwa elementu musi być unikalna i może zawierać wyłącznie znaki alfanumeryczne, spację oraz "_"</h6>
                    <hr>
                    {{ form(createForm) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary modal-saving-btn">Zapisz tymczasowo</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for editing and removing item from menu -->
<div>
    <div id="edit-remove-menu-item-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edytowanie i usuwanie elementu menu</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>W celu zmiany nazwy elementu, edytuj nazwę w polu tekstowym oraz kliknij przycisk "Zmień nazwę".</p>
                    <p>Aby usunąć element, kliknij "Usuń".</p>
                    <p>Aby wyjść z okna, kliknij w krzyżyk lub przycisk "Zamknij" lub kliknij poza okno.</p>
                    <hr>
                    <hr>
                    {{ form(changeForm) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-danger modal-removing-btn">Usuń</button>
                    <button type="button" class="btn btn-primary modal-editing-btn">Zmień nazwę</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Code for cloning in jQuery -->
<div>
    <!-- Menu item with empty submenu for cloning while adding new element in menu -->
    <div id="empty-submenu" class="dropdown-submenu d-none">
        <button type="button" class="btn bg-secondary text-light dropdown-item menu-item"></button>
        <div class="dropdown-menu">
            <button type="button" class="btn border border-success dropdown-item add-menu-item text-center">&#43;</button>
        </div>
    </div>
    
    <!-- "Prototype" of "+" button -->
    <button id="proto-plus-btn"  type="button" class="btn border border-success dropdown-item add-menu-item text-center d-none">&#43;</button>
</div>

{% endblock body %}
